/* ESTILO GERAL */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
    text-align: center;
}


/* EXERCÍCIO 1 – PERFIL PESSOAL */
.perfil {
    background-color: #fff;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px;
}

.perfil p {
    color: #555;
    line-height: 1.6;
    text-align: center;
}

.perfil ul {
    list-style-type: circle;
    padding-left: 20px;
    text-align: left;
    margin-top: 15px;
}


/* EXERCÍCIO 2 – FORMULÁRIO DE CONTATO */
.contato {
    background-color: #fff;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #444;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    margin-top: 20px;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Exercício 9 */
.tema {
    text-align: center;
    margin-top: 20px;
}

#mudar-cor {
    padding: 12px 20px;
    font-size: 1em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#mudar-cor:hover {
    background-color: #218838;
}

/*Exercício 10 */
.imc {
    background-color: #fff;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.imc input {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

#calcular-imc {
    margin-top: 10px;
    padding: 12px;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#calcular-imc:hover {
    background-color: #117a8b;
}

#resultado-imc {
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
}
